@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", Helvetica, sans-serif;
    background: #343c41;
    color: white;
}
.adminPanel {
    background-color: #32cd32;
    display: inline-block;
    padding: 1rem;
}

.penetesterSPace {
    background-color: red;
    text-align: center;
    padding: 0.7rem;
    width: 32rem;
    margin-left: 27rem;
}
/* Create New Button */

/* Nav Links */
.navLinks {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    letter-spacing: normal;
    background-color: #292e32;
    
}
/* Nav Hover */
.navLinks li a:hover:not(.active) {
    color: white;
}
.navLinks li {
    list-style: none;
}
/* Nav List */
.navLinks li a {
    color: #949ba2!important;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 1rem;
}


.btnType {
    background-color: #32cd32;
    display: inline-block;
    padding: 0.5rem;
    width: 13rem;
    margin-left: 60rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    
}
/* Company Report Start */

.table{
    background-color: #242d35;
    color: white;
}



.circleGreen{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background:green;
  }

  .circleRed{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background:red;
  }

  .circleYellow{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background:yellow;
  }

.fas{
    font-size: 2rem;
}

.companyReport {
    margin-left: 3rem;
    margin-right: 3rem;
}
.titleSection {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    
    padding: 0.2rem;
    font-size: 1.3rem;
}












/* Company Report End */
/* New Asset Creation Section Start */



.descriptionSection {
    margin-left: 21rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    
}

#companyName{
    width: 30rem;
    margin-left: 1rem;
    padding: .3rem;
}
#companyLogo{
   
    margin-left: 1rem;
    padding: .3rem;   
}


#companyUrl{
    width: 30rem;
    margin-left: 8rem;
    padding: .3rem;
}

#startDate{
    width: 30rem;
    margin-left: 4rem;
    padding: .3rem;
}


#endDate{
    width: 30rem;
    margin-left: 4.5rem;
    padding: .3rem;
}


#inScopeUrl{
    width: 30rem;
    margin-left: 1.5rem;
    padding: .3rem;
}

#outScopeUrl{
    width: 30rem;
    margin-left: 2.4rem;
    padding: .3rem;
}





.newAssetCreate {
    background-color: #32cd32;
    text-align: center;
    padding: 0.7rem;
    width: 17rem;
    margin-left: 35rem;
}

.descriptionSection h4 {
    margin-bottom: 1rem;
}

.submitButton {
    height: 3.5rem;
    margin-left: 48rem;
    font-size: 1.5rem;
    margin-bottom: 6rem;
}




/* New Asset Creation Section End */
/* Company Report Section Start */

.companyReportSection{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
   
}
.companyNo a{
    text-decoration: none;
    color:white;
    font-size: 2rem;
    
}


/* Company Report Section End */

.individuallyCompanyReport{
    display: flex;
    margin-top: 3rem;
    
    justify-content: space-around;

}

.downloadButton {
    height: 3.5rem;
    margin-left: 25rem;
    font-size: 1.5rem;
}
.reportDescription{
    margin-top: 4rem;
    margin-left: 2rem;
   
}
#weakness{
    width: 30rem;
    margin-left: 8rem;
    padding: .3rem;
}

#CVS{
    width: 30rem;
    margin-left: 4rem;
    padding: .3rem;
}


#title{
    width: 30rem;
    margin-left: 4.5rem;
    padding: .3rem;
}


#description{
    width: 30rem;
    margin-left: 1.5rem;
    padding: .3rem;
}

#impact{
    width: 30rem;
    margin-left: 2.4rem;
    padding: .3rem;
}

#searchOption{
   margin-left: 2rem;
   margin-top: 3rem; 
}

.report{
    height: auto;
    width: 100%;
    display: flex;
}


.report p{
    margin-left: 2rem;
    margin-right: 5rem;
}